In [10]:
import pandas as pd

In [11]:
register = pd.read_csv('data/register.csv')
register.head()

,part_id,group,age,sex,height,weight,BMI,recorded_in_the_lab,clinically-at-risk,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,SPPB2,HA,54,m,1.82,73.0,22.0,1,0,NaN,NaN,NaN,NaN
1,SPPB3,FHm,71,m,1.80,81.6,25.2,1,0,NaN,NaN,NaN,NaN
2,SPPB4,HA,38,m,1.75,80.0,26.1,1,0,NaN,NaN,NaN,NaN
3,SPPB5,HA,56,m,1.75,70.0,22.9,1,0,NaN,NaN,NaN,NaN
4,SPPB6,HA,55,f,1.54,62.0,26.1,1,0,NaN,NaN,NaN,NaN

In [12]:
print(register.columns)

Index(['part_id', 'group', 'age', 'sex', 'height', 'weight', 'BMI',
       'recorded_in_the_lab', 'clinically-at-risk', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [13]:
register = register.drop(columns=['Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'])
register.head()

,part_id,group,age,sex,height,weight,BMI,recorded_in_the_lab,clinically-at-risk
0,SPPB2,HA,54,m,1.82,73.0,22.0,1,0
1,SPPB3,FHm,71,m,1.80,81.6,25.2,1,0
2,SPPB4,HA,38,m,1.75,80.0,26.1,1,0
3,SPPB5,HA,56,m,1.75,70.0,22.9,1,0
4,SPPB6,HA,55,f,1.54,62.0,26.1,1,0

In [14]:
# Summary description of the 'group' column in the existing `register` DataFrame
s = register['group']

print("dtype:", s.dtype)
print("non-null:", s.count(), "/", len(s))
print("nulls:", s.isnull().sum())

print("\nValue counts:")
print(s.value_counts(dropna=False))

print("\nRelative frequencies (%):")
print((s.value_counts(normalize=True, dropna=False) * 100).round(2))

print("\nUnique values:")
print(s.unique())

print("\nDescribe():")
print(s.describe())

dtype: object
non-null: 90 / 90
nulls: 0

Value counts:
group
HA     33
NF     33
FHs    15
FHm     9
Name: count, dtype: int64

Relative frequencies (%):
group
HA     36.67
NF     36.67
FHs    16.67
FHm    10.00
Name: proportion, dtype: float64

Unique values:
['HA' 'FHm' 'FHs' 'NF']

Describe():
count     90
unique     4
top       HA
freq      33
Name: group, dtype: object

# Because of imbalance I will use Faller(FHs, FHm) vs Non Faller(HA+NF) as the target.

In [15]:
# create a column 'faller' in the register DataFrame: 1 for FHs/FHm, 0 for HA/NF
register['faller'] = register['group'].isin(['FHs', 'FHm']).astype(int)

# quick check
register[['part_id', 'group', 'faller']].head()

  part_id group  faller
0   SPPB2    HA       0
1   SPPB3   FHm       1
2   SPPB4    HA       0
3   SPPB5    HA       0
4   SPPB6    HA       0

In [16]:
# replace 'm'/'f' with 0/1 (case-insensitive) and make column integer (nullable)
register['sex'] = register['sex'].astype(str).str.strip().str.lower().map({'m': 0, 'f': 1})
register['sex'] = register['sex'].astype('Int64')

# quick check
register[['part_id', 'sex']].head()

  part_id  sex
0   SPPB2    0
1   SPPB3    0
2   SPPB4    0
3   SPPB5    0
4   SPPB6    1

In [17]:
register['part_id'] = register['part_id'].str.replace('SPPB', '', regex=False)

# quick check
register[['part_id', 'group', 'faller']].head()

  part_id group  faller
0       2    HA       0
1       3   FHm       1
2       4    HA       0
3       5    HA       0
4       6    HA       0

In [18]:
register.to_csv('data/register_processed.csv', index=False)